.category-wrap {
    padding: 120px 0 113px;
}
.category-box {
    .category-thumble {
        margin-bottom: 25px;
        img {
            border-radius: 8px;
        }
    }
    .category-content {
        .title {
            margin-bottom: 8px;
            a {
                display: block;
                color: #2B2E52;
                font-weight: 700;
                font-size: 20px;
                transition: var(--transition);
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        .category-date {
            color: #6F728F;
            font-size: 16px;
            font-weight: 400;
        }
    }
}