.chat-style-1 {
    background-color: var(--color-white);
    padding: 70px;
    border: 1px solid;
    border-color: #D3D3D3;
    border-radius: 16px;
    text-align: center;
    transition: var(--transition);
    @media (max-width: 991px) {
        padding: 60px;
    }
    @media (max-width: 767px) {
        padding: 50px;
    }
    .chat-thumbnail {
        margin-bottom: 40px;
    }
    .chat-content {
        .title {
            margin-bottom: 10px;
            font-size: 40px;
            font-weight: 700;
            @media (max-width: 991px) {
                font-size: 36px;
            }
            @media (max-width: 767px) {
                font-size: 30px;
            }
            @media (max-width: 575px) {
                font-size: 26px;
            }
        }
        .description {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    &:hover {
        box-shadow: 0px 16px 24px 0 rgba(#0A1F44, 0.16);
        border-color: var(--color-white);
    }
}