/*-------------------------
    Reset Styels
-------------------------*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1390px;
    }
}
.no-text-decoration,a{
    display: inline-block;
    text-decoration: none;
    transition: var(--transition);
}

.section-padding {
    padding: 80px 0;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
ul{
    margin-bottom: 0;
    padding: 0;
}
ul li{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}