
html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
    color: var(--color-body);
    font-weight: 400;
    height: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
table,
hr {
    margin: 0 0 20px 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--color-dark);
}


h1,
.h1 {
    font-size: var(--h1);
    line-height: 1.2;
}

h2,
.h2 {
    font-size: var(--h2);
    line-height: 1.2;
    @media (max-width: 1199px) {
        font-size: 50px;
        br {
            display: none;
        }
    }
    @media (max-width: 991px) {
        font-size: 42px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
    @media (max-width: 575px) {
        font-size: 32px;
    }
}

h3,
.h3 {
    font-size: var(--h3);
    line-height: 1.3;
}

h4,
.h4 {
    font-size: var(--h4);
    line-height: 1.4;
}

h5,
.h5 {
    font-size: var(--h5);
    line-height: 1.5;
}

h6,
.h6 {
    font-size: var(--h6);
    line-height: 1.6;
}


p {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
    margin: 0 0 20px 0;
    line-height: 2;
}

.body-font1 {
    font-size: var(--font-body-1);
    line-height: var(--line-height-b1);
}

.body-font2 {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
}

.body-font3 {
    font-size: var(--font-body-3);
    line-height: var(--line-height-b3);
}

.body-font4 {
    font-size: var(--font-body-4);
    line-height: var(--line-height-b3);
}