.work-resource-style-1 {
    .work-resource-thumbnail {
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .meta-tag {
        font-size: 14px;
        font-weight: 500;
        color: #6F728F;
        margin-bottom: 7px;
    }
    .title {
        font-size: 20px;
        font-weight: 700;
    }    
}